.multiRange{
    height: 100%;
    width: 100%;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* z-index: 2; */
  }
  
  .track{
    height: 70px;
    /* width: 90%; */
    
    /* max-width: inherit; */
    background: black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    border-radius: 10px;
    border-right: 1px black solid;
    cursor: pointer;
    /* outline: 30px purple solid; */
    /* z-index: 2; */
    /* margin: 0 10px 0 0; */
  
  }
  
  .widthTracker{
    width: 100%;
    height: 80px;
    background: blue;
    position: absolute;
    opacity:.5;
    /* z-index: 1; */
  }
  
  .thumb{
    position: absolute;
    height: 100%;
    width: 10px;
    border-radius: 2px;
    background: yellow;
    cursor: pointer;
  
  }
  
  .thumb.min{
    /* left: 0%; */
  }
  
  .thumb.max{
    /* left: 100%; */
    background: purple;
  }
  