.multiRange{
  width: 90%;
  height: 90%;
  background: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track{
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
  
.section{
  height: 100%;
  width: 100%;
  display: flex;
}


.thumbContainer{
  width: 100%;
  height: 100%;
  display: flex;
}

.thumbContainer.max{
  justify-content: flex-end;
}

.thumb{
  height: 100%;
  width: 50%;
  background: white;
}