.multi-range {
	width: 90%;
	height: 90%;
	background: darkgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header-container-multi-range {
	width: 90%;
	display: flex;
}

.header-multi-range {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.header-multi-range.title {
	justify-content: center;
}

.header-multi-range.max {
	justify-content: flex-end;
}

.track-multi-range {
	width: 90%;
	height: 100px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	align-items: center;
}

.section-multi-range {
	height: 100%;
	width: 100%;
	display: flex;
}

.thumbContainer-multi-range {
	width: 100%;
	height: 100%;
	display: flex;
}

.thumbContainer-multi-range.max {
	justify-content: flex-end;
}

.thumb-multi-range {
	height: 100%;
	width: 20px;
	background: white;
}
